/* //LOGIN SIGN IN */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
  }
  
  :root {
    --background: #121212;
    --button-cart-active: #b535f6;
    --button-cart-enabled: #b535f6b2;
    --button-cart-disabled: #9d8ca6;
    --white: #ffffff;
    --whiteInactive: #ffffffd0;
    --white-glass: #ffffff0f;
    --card-background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      #121212;
  
    --light-purple: #d175ff80;
  }
  

body {
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    background-attachment: fixed;
}