@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Maven+Pro:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Exo 2', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Roboto', sans-serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --background:#121212;
    --button-cart-active: #B535F6;
    --button-cart-enabled: #B535F6B2;
    --white: #FFFFFF;
    --white-glass:#FFFFFF0F;
    --card-background:linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
    

}


html,body {
    background-color: var(--background);
}

main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 24px;
    /* max-width: 1360px;
    margin: 0 auto; */
    color: var(--white);
}

.game-info, .navigationBar, .htb-section, .store-section, .footer-section {
    padding: 0 120px;
    max-width: 1360px;
    margin: 0 auto;
}
/* HEADER NAV BAR */

.overlayMenu {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
        background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0) 100%);

}

.navigationBar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 96px;
    width: 100%;

    gap: 32px;

    padding: 4px 72px ;

    position: fixed;
    z-index: 5;
}

.menuoption-list {
    display: flex;
    gap: 36px;
    align-items: flex-start;
    align-items: center;
}
.menuoption-list, .menuoption-list a{
    color: var(--white);
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    
}

.option:hover{
    text-decoration: underline 1px white;
    text-underline-offset: 5px;
    
}
.gaming-logo {
    background-image: url(assets/gamingstore-logo.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 250px;
    height: 96px;
}

.iconOption {
    display: flex;
    gap: 4px;
    align-items: center;
}

.iconOption img {
    height: 22px;
}

/* HERO SECTION */


.hero-section{
    width: 100%;
    height: 100vh;
    
}

/* video carrusel */
video {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}


/* carrusel */
.carrouselinfo-container {
    width: 100%;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 42px;

    height: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    

    /* Prevent select */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
}

/* Button slider next y previous */
.button-slider-container {
    height: 100%;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.button-slider-container:hover {
    cursor: pointer;
}
#previousVideo:hover {
    background: linear-gradient(90deg, rgba(226, 169, 255, 0.25) 2.34%, rgba(215, 135, 255, 0.0877604) 66.63%, rgba(209, 117, 255, 0) 92.05%);}

#nextVideo:hover {
        background: linear-gradient(270deg, rgba(226, 169, 255, 0.25) 2.34%, rgba(215, 135, 255, 0.0877604) 66.63%, rgba(209, 117, 255, 0) 92.05%);
}

.button-slider-container img {
    width: 32px;
    height: 32px;
}

/* Contenedor de la ficha de texto */
.game-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
 
    width: 100%;

    position: relative;
    z-index: 10;
    height: 70%;
    padding: 0 60px;
}

/* descripcion de logo */
.logoAndDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 38px;

    width: 40%;
}

.logoAndDescription img {
    width: 300px;
    height: 120px;
    object-fit: contain;
}
.logoAndDescription button {
    width: 50%;
    height: 40px;
}

/* boton añadir */
.add-btn {
    background: rgba(181, 53, 246, 0.5);
    backdrop-filter: blur(5.5px);
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    padding: 8px 42px;

    text-align: center;
    letter-spacing: 0.15px;
    font-variant: small-caps;

    color: #FFFFFF;
    transition: background .5s ease;

}
.add-btn:hover {
    cursor: pointer;
    background: #B535F6;
    transition: background .5s ease;
}

/* Chips de Generos */
#genres {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
}

#genres p{
    border: 1.5px solid rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    width: fit-content;
    padding: 0px 16px;
}

/* Bottom overlay */
.hero-section::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    z-index: 4;
    /* background-color: red; */
    background: linear-gradient(360deg, #121212 15.42%, rgba(18, 18, 18, 0.663542) 37.29%, rgba(18, 18, 18, 0) 100%);
}

/* side overlay */
.hero-section::before {
    content: "";
    width: 60%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;

    background: linear-gradient(69.18deg, rgba(0, 0, 0, 0.6) 6.2%, rgba(0, 0, 0, 0) 81.28%);
}

/* HOW TO BUY A GAME */
.htb-section {
   display: flex;
   flex-direction: column; 
   gap: 24px;
}

.htb-section h2{
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
}

.steps-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;

}
.step-container{
    background-color: #1E1E1E;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    flex: 0 1 350px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 24px;

    transition: background-color .3s ease-in;

}

.step-title {
    display: flex;
    align-items: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 24px;

    height: 40px;
    gap: 16px
}

.step-container p{
    font-family: 'Exo 2';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
}

.step-container:hover {
    background-color:#333333;    
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
    transition: background-color .3s ease-in;
}

/* STORE SECTION */
.store-section h1{
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
}
.store-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.filter-container {
    display: flex;
    gap: 16px;
}

.filter {
    background-color: #26202E;    
    border-radius: 7px;
    padding: 16px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid #26202E;

}

.filter-container p:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.filter-container p:active, .active {
    border: none;
    border: 1px solid #BB86FC
}

.cardsGame-container {
    display: flex;
    gap: 24px;
}

.cardGame {
    background-image: url(assets/gta.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    
    flex: 0 1 330px;
    height: 390px;

    display: flex;
    align-items: flex-end;
}

.cardGameInfo h4{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

}

.cardGameInfo {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(7.5px);

    border-radius: 65px 65px 0px 0px;

    width: 100%;
    height: 200px;
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    transition: height 10s ease-in-out;
}


.genres {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    width: 100%;
}

.genres p{
    border: 1.5px solid rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    width: fit-content;
    padding: 0px 16px;
}

.rating-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.rating-price p {
    display: flex;
    align-items: center;
    gap: 4px;
}
.recommendedSystem{
    display:none;
    height: 0px;
    transition: height 5s ease-in-out;

}
.cardGameInfo button{
    width: 100%;
}
 
/*Carta con hover*/
.cardGameInfo:hover > .recommendedSystem {
    width: 100%;
    height: 150px;
    display: block;
    transition: height 5s ease-in-out;
}

.cardGameInfo:hover {
    height: auto;
    transition: all 10s ease-in-out;
}


/* FOOTER */
footer {
    color: white;
}

